# The following examples use hardcoded command arguments...

command[check_users]=/usr/lib64/nagios/plugins/check_users -w 5 -c 10

command[check_load]=/usr/lib64/nagios/plugins/check_load -w 15,10,5 -c 30,25,20

command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_procs -w 5 -c 10 -s Z

command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w 150 -c 200

command[check_ntp_time]=/usr/lib64/nagios/plugins/check_procs -w 150 -c 200

# This should loop and make different checks based on how many
# drive mounts there are specified on each host
{% for dm in nrpeDriveMounts %}
command[check_{{ dm.name }}]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% -p {{ dm.path }}
{% endfor %}
